/* ================== */
/* HOUSEKEEPING */
/* ================== */

:root {
    --sm-width: 768px;
    --md-width: 992px;
    --lg-width: 1200px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* ================== */
/* HOME */
/* ================== */

/* ================== */
/* HOMEWORK */
/* ================== */

/* ================== */
/* RECITATION */
/* ================== */

/* ================== */
/* CALENDAR */
/* ================== */

/* ================== */
/* RESOURCES */
/* ================== */

/* ================== */
/* STAFF */
/* ================== */

/* ================== */
/* FOOTER */
/* ================== */

